name: Cypress Tests

on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    env:
      COUNTRIES_API_URL: ${{ secrets.COUNTRIES_API_URL }}
      RESTRICTIONS_API_URL: ${{ secrets.RESTRICTIONS_API_URL }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          env: true
          build: yarn build
          start: yarn dev
